<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Netflix Recommendation System</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

</head>
<body>
	<div>
	<h1><mark>Movie Recommendation System</mark></h1>

		<p1><span>ENTER A TV-SHOW/MOVIE NAME THAT YOU JUST WATCHED</span></p1>


			<form name="passdata" action="/about" method="post">
			<input type="text"	 name="moviename">
			<input type="submit" value="submit">
	</div>
</form>
</body>
</html>
<!-- {#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>Movie Recommendation</title>#}
{#</head>#}
{#<body>#}
{#    <h2>Welcome to Movie Recommendation System</h2>#}
{#    <form method="POST" action="/about">#}
{#        <label for="moviename">Enter a Movie Name:</label>#}
{#        <input type="text" id="moviename" name="moviename" required><br><br>#}
{#        <button type="submit">Get Recommendations</button>#}
{#    </form>#}
{#    <a href="/logout">Logout</a>#}
{#</body>#}
{#</html>#} -->

